@using KKLauncher.Web.Contracts.Collections

@inject ComponentBus _bus

@implements IDisposable

<div class="add-collection-form">
    @if (_show)
    {
        <EditForm EditContext="_editContext" OnValidSubmit="ValidSubmit" class="add-collection-main--wrapper" style="height: 100%;">
            <div class="left-inputs--wrapper">
                <div class="collection-name">
                    <label for="collection-name-input">Name:</label>
                    <InputText class="collection-name-input-s" id="collection-name-input" @bind-Value="_collection!.Name" />
                    <div class="validation-error-message">
                        <ValidationMessage For="() => _collection!.Name" />
                    </div>
                </div>
                <div class="form-action-buttons--wrapper">
                    <button class="create-action-button" type="submit">Create</button>
                    <button class="cancel-action-button" type="button" @onclick="Cancel">Cancel</button>
                </div>
            </div>
            <div class="right-inputs--wrapper">
                <CollectionImageSelectForm @ref="@_collectionImageSelectForm" />
            </div>
        </EditForm>
    }
</div>