.add-app-main--wrapper {
    position: relative;
    border: 8px solid #2B697F;
    width: 250px;
    height: 380px;
    background-color: #00B3BB;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .add-app-main--wrapper:hover:not(.add-app-active) {
        animation: hover_add_center_item 50ms ease-in-out forwards;
    }

    .add-app-main--wrapper.add-app-active {
        box-shadow: 10px 10px 10px #10212C;
    }

.add-app-img--wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-app-img {
    width: 80px;
    height: 80px;
}

    .add-app-img:active {
        animation: active_add_center_item_image 80ms ease-in-out forwards;
    }

.add-app-form--wrapper {
    position: absolute;
    width: 0;
    top: -8px;
    height: 100%;
    left: 100%;
    background-color: #00B3BB;
    border: 8px solid #2B697F;
    transition: .5s ease;
    overflow: hidden;
    visibility: hidden;
}

    .add-app-form--wrapper.show {
        width: 450px;
        box-shadow: 10px 10px 10px #10212C;
        visibility: unset;
    }