<div class="collection-main--wrapper">
    @if (Collection != null)
    {
        <div class="collection-name">
            @Collection.Name
        </div>
        <div class="collection-image--wrapper">
            @if (Collection.Image.Length == 0)
            {
                <img class="collection-image" src="icons/collection-default.png" />
            }
            else
            {
                
            }
        </div>
    }
</div>