@inject ComponentBus _bus

<div class="main-navigation--wrapper">
    <div class="navigation">
        <div class="logo-with-menu">
            <div class="kk-logo--wprapper">
                <img class="kk-logo" src="icons/logo.png" draggable="false" />
            </div>
            <div class="menu-item" @onclick="@ApplicationsSelectionChanged">
                APPLICATIONS
            </div>
            <div class="menu-strip-line">
            </div>
            <div class="collection-add-item">
                <div class="collection-add-text">
                    Collections
                </div>
                <div class="collection-add-img">
                    <img class="col-add-image" src="icons/add-collection.png" @onclick="ShowAddCollectionForm" draggable="false" />
                </div>
            </div>
            <div class="menu-strip-line collection-form">
                <div class="add-collection-form--wrapper @(_addCollectionShown ? "show" : string.Empty)">
                    @if (_addCollectionShown)
                    {
                        <AddCollectionForm />
                    }
                </div>
            </div>
        </div>
        <div class="navigation--footer">
            <NavigationFooter />
        </div>
    </div>
</div>