@inject ComponentBus _bus

<div class="main-navigation--wrapper">
    <div class="navigation">
        <div class="logo-with-menu">
            <div class="kk-logo--wprapper">
                <img class="kk-logo" src="icons/logo.png" draggable="false" />
            </div>
            <div class="menu-item" @onclick="@ApplicationsSelectionChanged">
                APPLICATIONS
            </div>
            <div class="collections-menu">
                <CollectionsMenu />
            </div>
        </div>
        <div class="navigation--footer">
            <NavigationFooter />
        </div>
    </div>
</div>